.card {
  width: 100%;
  max-width: 400px;
  min-height: 460px;

  .image {
    height: 200px;
  }

  .cardBody {
    display: flex;
    flex-direction: column;

    .row {
      display: flex;
      margin: 6px 0 6px 0;
    }

    span {
      font-weight: 700;
      color: black;
    }
  }

  h6 {
    font-size: 14px;
    padding-right: 26px;
    margin: 0;
  }
}

.header {
  font-weight: 700;
  color: black;
}

.btn {
  margin-top: 16px;
}