
.modal {
  color: black;
  font-weight: 500;

  .btn {
    margin-top: 16px;
    width: 100%;
  }
  .formInput {
    margin-top: 16px;
  }
  b {
    font-weight: 700;
  }

  h3 {
    margin-top: 16px;
    font-weight: 700;
    color: #007bff;
  }
}