.main {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
}
.navLink {
  color: white;
}

.brand {
  font-weight: 700;
  color: white;
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  img {
    width: 40px;
    border-radius: 5px;
    margin-right: 16px;
  }
}

@media (min-device-width: 200px) and (max-device-width: 600px) {
  .main {
    justify-content: center;
  }

  .navbarBrand {
    margin: 0;
  }
  .brand {
    width: 100%;
    font-size: 25px;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .user {
    margin-left: 16px;
  }
  .dropdown {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 16px;
    }
}