.racePage {
  
  .main {
    display: grid;
    grid-template: 50px 1fr / 1fr 1fr 1fr;
    padding: 26px;

    .title {
      grid-column: 1/2;
      grid-row: 1/2;
      font-size: 22px;
      font-weight: 700;
      color: black;
      text-transform: uppercase;
      img {
        width: 35px;
        margin-right: 16px;
      }
    }

    .trackMap {
      grid-column: 1/2;
      grid-row: 2/3;
    }

    .trackData {
      grid-column: 2/4;
      grid-row: 1/3;
      
      h6 {
        margin: 0;
      }

       h5 {
         font-weight: 600;

         span {
           color: grey;
           font-size: 13px;
         }
       }
    }
  }
}