
  .main {
    display: grid;
    grid-template: 120px 1fr / 1fr 1fr;
    padding: 26px;
    grid-column-gap: 26px;
    justify-items: center;
 padding: 36px 200px 36px 200px;
    .title {
      grid-column: 1/4;
      grid-row: 1/2;
      display: flex;
      justify-content: center;
      align-items: center;

      h2 {
        font-size: 55px;
        font-weight: 700;
        text-align: center;
        color: black;
        text-transform: uppercase;
        margin: 0;
      }
      img {
        width: 65px;
        height: 50px;
        margin-right: 16px;
      }
    }

    .raceInfo {
      grid-column: 1/2;
      grid-row: 2/3;

      img {
        width: 100%;
        min-width: 400px;
        border-radius: 4px;
      }

      .infoCard {
        margin-top: 16px;

        .markdown {
          color: black;
          font-weight: 500;
        }
      }
    }

    .trackData {
      grid-column: 2/4;
      grid-row: 2/3;

      h6 {
        margin: 0;
      }

      h5 {
        font-weight: 600;

        span {
          color: grey;
          font-size: 13px;
        }
      }
    }

    .registerButton {
      grid-column: 2/4;
      grid-row: 3/5;
      margin-top: 16px;
      width: 100%;
    }
  }

.trackImgCard {
  margin-bottom: 16px;
}
.trackImg {
  width: 100%;
  min-width: 400px;
  border-radius: 4px;
}

.driversWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  .driverName {
    font-weight: 500;
    width: 100%;
    .driverImg {
      width: 30px;
      margin-right: 6px;
      border-radius: 4px;
    }

    .divider {
      margin: 6px 0px 6px 0px;
    }
  }
}

.accordionCard {
  margin-top: 16px;
}



@media (min-device-width: 205px) and (max-device-width: 1023px) {
  .main {
    grid-template: auto / 1fr;
    grid-row-gap: 16px;
    width: 100%;
    padding: 16px;
    
    .title {
      grid-row: 1/2 !important;
      grid-column: 1/2 !important;

      h2 {
        font-size: 40px;
        line-height: 45px;
      }
    }

    .raceInfo {
      grid-row: 2/3 !important;
      grid-column: 1/2 !important;

      img {
        min-width: 0;
      }
    }

    .trackData {
      grid-row: 3/4 !important;
      grid-column: 1/2 !important;
    }
  }

  .trackImg {
    min-width: 0;
  }
}