main {
  font-family: "Red Rose", "SF Pro Text", "SF Pro Icons", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
}

.alert {
  background-color: black;
  font-family: "Red Rose";
  font-weight: 500;
  color: white;
}
